<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Learn VueJs</title>
</head>
<body>
  <div id="root">
    <h1>All Tasks</h1>
    <ul>
      <li v-for="task in tasks" v-text="task.description"></li>
    </ul>

    <h1>Incomplete Tasks</h1>
    <ul>
      <li v-for="task in incompleteTasks" v-text="task.description"></li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@2.5.11/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#root',
      data: {
        tasks: [
          { description: 'Reciting Quran', completed: true },
          { description: 'Read Quran', completed: false },
          { description: 'Memorize Quran', completed: true },
          { description: 'Go to Market', completed: false },
          { description: 'Play Footbal', completed: false },
        ]
      },
      computed: {
        incompleteTasks() {
          return this.tasks.filter(task => ! task.completed)
        }
      }
    });
  </script>
</body>
</html>